@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Arial Black';
  src: url('/assets/fonts/Arial-Black/arial_black.ttf');
}
@font-face {
  font-family: 'Arial';
  src: url('/assets/fonts/arial-font/arial.ttf');
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: #ffff;
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #1D1D1B;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Arial", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);

}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1370px;
  margin-inline: 1.5rem;
  padding-left: 50px;
  padding-right: 50px;
}

/*=============== HEADER ===============*/
.header {

  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
}
.tel-small{
  display: none;
}
.right-section-text{
  color: #666666;
  font-family: "Noto Serif", serif;
  font-style: italic;
  max-width: 229px;
}
.right-section img{
  height: 32px;
  margin-top: 7px;
}
.first-class{
  display: flex;
  justify-content: space-between;
}
.left-section{
  display: flex;
  gap: 20px;
}
.first-class a {
  color: #1D1D1B;
  font-weight: var(--font-semi-bold);
}
.hero-section{
  height: 299px;
  background-image:url("./градиентный-фон 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1{
  color: #ffff;
  font-family: 'Arial Black',serif;
  font-size: 40px;
  margin-top: 50px;
}
h2{
  display: none;
}

.negative-feedbacks-small{
  display: none;
}
.left-section-text{
  color: #ffff;
  font-family: var(--body-font);
  font-size: 16px;
}
.left-item{
  margin-top: 236px;
  width: 238px;
  margin-left: 92px;
}
.fourth-main-section{
  border-radius: 5px;
}
.tablet-button{
  display: none;
}
.right-item{
  width: 675px;
}
.hero-items{

  display: flex;
  gap: 217px;
}
.last-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding-bottom: 100px;
}
.last-section-header{
  font-family:var(--body-font);
  font-weight: 900;
  font-size: 30px;
  color: rgba(226, 42, 48, 1);
  padding-bottom: 10px;
}
.main-container{
  max-width: 1273px;
  margin: auto;
}
.e-mail-input{
  width: 298px;
  padding:16px 24px 16px 24px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ffff;
  color: #999999;
  margin-top: 15px;
}
.privacy-small{
  display: none;
}
.price{
  background-color: #E22A30;
  width: 207px;
  height: 50px;
  padding: 10px 16px 10px 16px;
  margin-top: 20px;
  margin-left: 5px;
  color: #ffff;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.e-mail-input-small{
  display: none;
}
.price-small-dv{
  display: none;
  background-color: #E22A30;
  width: 254px;
  height: 50px;
  padding: 10px 16px 10px 16px;
  margin-top: 20px;
  margin-left: 5px;
  color: #ffff;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.fourth-main-section-text{
  font-weight: 700;
  font-size: 16px;
  text-align: left;


}
.privacy a{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
  font-weight:500;
}
.privacy {
  color: rgba(255, 255, 255, 0.5);
}
.privacy-small{
  color:  rgba(153, 153, 153, 1);
}
.privacy-small a{
  display: none;
  color: rgba(153, 153, 153, 1);
  text-decoration: underline;
  font-weight:500;
}
#privacy-small {
  display: none;
  width: 90%;
  margin: auto;
  color: rgba(153, 153, 153, 1);
}
.fourth-main-section{
  background-color: rgba(255, 255, 255, 1);
  max-width: 1273px;
  height: 90px;
  gap: 100px;
}

.fourth-main-section{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.red-kvadrat{
  width: 11px;
  height: 8px;
  background-color: rgba(226, 42, 48, 1);
  margin-top: 4px;
  margin-right: 10px;
  margin-left: 20px;
}
.fourth-main-section-items{
  padding-right: 25px;
  padding-left: 5px;
  display: flex;
  flex-basis: 235px;
}
.fourth-section{
  padding-bottom: 50px;
}

.left-section-sub-text{
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
}
.first-class{
  padding-right: 55px;
}
.hero section{
  margin-top: 500px;
}
.nav {
  height: var(--header-height);
}
.right-section{
  display: flex;
  gap: 28px;
  /*flex-basis: 505px;*/
}
.first-class{
  margin-top: 20px;
}
.nav__burger,
.nav__close {
  color: #C09957;
}
.third-section{
  background-color: rgba(244, 243, 243, 1);
  text-align: center;
}
.negative-feedbacks{
  padding-top: 100px;
  margin-bottom: 50px;
  font-family: 'Arial Black', serif;
  font-weight: 900;
  font-size: 40px;
}
.negative-feedbacks-item{
  max-width: 700px;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}


.calculator-menu img {
  height: 20px;
  width:20px;
  margin-top: 2px;
}
.nav__toggle{
  display: none;
}
.third-section{

}
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}
.nav__logo{
  color: #1D1D1B;
}
.nav__data{
  background-color: #F4F3F3;
  max-width: 292px;
  height: 42px;
  padding: 10px 16px 10px 16px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 130px;
  border-radius: 5px;
}
.nav__delete{
  background-color: #E22A30;
  width: 292px;
  height: 42px;
  padding: 10px 16px 10px 16px;
  margin-top: 20px;
  margin-left: 5px;
  color: #ffff;
  font-weight: var(--font-semi-bold);
  text-align: center;
  border-radius: 5px;
}


.nav-delete-smile-screen{
  display: none;

}
.calculator-menu{
  display: flex;
  gap: 8px;
  font-size: 16px;
}
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1261px) {
  .nav__link{
    font-size: 14px;
  }
  .nav__data{
    margin-left: 24px;
  }
}
@media screen and (max-width: 1124px) {

  .nav__delete {
    display: none;
  }
  .nav__logo{
    display: none;
  }
  .nav__data{
    background: transparent;
    margin: 0px;
  }

  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}
.cal-menu-text{
  font-size: 16px;
  margin-top: 4px;
}
.cal-menu-text-smile{
  font-size: 16px;
  margin-top: 4px;
  color: #ffff;
}
.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}
@media screen and (max-width: 1204px) {
  h1{
    font-size: 20px;
  }

}
@media screen and (max-width: 512px) {
  .right-item {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .price, .e-mail-input, .privacy{
    display: none;
  }
  #privacy{display: none;}
  h1{
    display: none;
  }
  h2{
    display: block;
    font-size: 24px;
    margin-top: 48px;
    color: #ffff;
    max-width: 330px;
  }
  .hero-section {
    height: 175px;
  }
  .hero-items {
    gap: 65px;
  }
  .left-item{
    margin-top: 105px;
    margin-left: 37px;
  }
  .tablet-button{
    display: block;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    width: 168px;
    height: 40px;
    font-family: 'Arial', serif;
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin-top: 10px;
    cursor:pointer;

  }
  .left-section-sub-text{
    font-size: 14px;
  }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 1108px) {
  .cal-menu-text-smile{
    font-size: 14px;
    padding-left: 4px;
  }
  .right-section img {
    width: 130px;
    height: 13px;
  }
  .nav__toggle{
    display: block;
  }
  .right-section-text{
    display: none;
  }
  .left-section{
    display: block;
  }
  .first-class{
    justify-content: center;
    gap: 40px;
  }
  .nav-delete-smile-screen{
    background-color: #E22A30;
    width: 82px;
    height: 42px;
    padding: 9px 17px 14px 9px;
    color: #ffff;
    font-weight: var(--font-semi-bold);
    text-align: center;
    border-radius: 5px;
    display: block;
  }
  .nav__toggle{
    display: block;
  }

}
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;

  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
  }
  /*.nav__toggle {*/
  /*  display: none;*/
  /*}*/
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 1rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }}

@media only screen and (max-width: 560px)  {
  .right-section img {
    width: 130px;
    height: 13px;
  }
  .e-mail{
    display:none;
  }
  .tel-small{
    display: block;
  }
  .tel{
    display: none;
  }
  .right-section {
    display: block;
  }
  .first-class{
    gap: 25px;
  }
}
@media only screen and (max-width: 767px)  {
  .last-section{
    grid-template-columns: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  fiveth-section{
    background-color: white;
  }
  .fourth-main-section {
    background-color: rgba(244, 243, 243, 1);
  }
  .fourth-main-section-items{
    flex-basis: 296px;
  }
  .fourth-section {
    padding-bottom: 430px;
  }
  body{
    background-color: #white;
  }
}

@media only screen and (max-width: 1229px) {
  .fourth-section{
    padding-bottom: 378px;
  }
  .fourth-main-section-items{
    margin: auto;
  }
}


@media only screen and (max-width: 460px)  {
  .negative-feedbacks-small{
    display: block;
    font-family:  var(--font-semi-bold);
    font-weight: 900;
    font-size: 24px;
    padding-top: 20px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .negative-feedbacks-item, .negative-feedbacks{
    display: none;
  }
  .hero-section{
    background-position-x:29%;
    background-position-y:25%;
  }
  .left-item{
    margin-top: 48px;
    margin-left: 181px;
    width: 20%;
  }
  span{
    display: none;
  }
  .container{
    padding-right: 96px;
  }
  .price-small-dv{
    margin: auto;
    display: block;
    padding-top: 15px;
    margin-top: 15px;
  }
  .e-mail-input-small{
    display: block;
    width: 255px;
    padding:16px 24px 16px 24px;
    height: 50px;
    border-radius: 5px;
    background-image: url("/./images/key.png");
    color: #999999;
    margin: auto;
    border:1px solid rgba(163, 163, 163, 1);
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 46%;
  }
  #privacy-small a{
    display:block;
  }
  #privacy-small{
    display: block;
    margin-top: 15px;
  }
  .privacy-small{display: block;
    padding-bottom: 15px;
  }
  .privacy-small a{
    color: #1D1D1B;
    display: inline-block;
  }
}